<link rel='stylesheet' href='../css/handled-subjects.css' />

<div class='handled-subjects'>
    <div class='card'>

      <table>
        <tr>
          <td id='subject-id'>{{{subject_id}}}</td>
          <td id='subject'>{{{subject}}}</td>
          <td>Enrolled Students:
        <span id='student-count'>{{{studentCount}}}</span></p> </td>
        </tr>
      </table>

    </div>
  {{/each}}
</div>