<div class=''>
  <div id='table'></div>
  <input
    type='text'
    name=''
    id='currentSubject'
    value='{{{selectedSubject}}}'
    hidden
  />

  <script src='/js/student-table.js'></script>
</div>