<link
  href='https://unpkg.com/gridjs/dist/theme/mermaid.min.css'
  rel='stylesheet'
/>
<script src='https://unpkg.com/gridjs/dist/gridjs.production.min.js'>
</script>

<div class=''>
  <div id='table'></div>

  <script src='/js/student-table.js'></script>
</div>