<div class='attendace'>

  <div id='attendance-table'></div>
  <input
    type='text'
    name=''
    id='currentSubject'
    value='{{{selectedSubject}}}'
    hidden
  />

  <script src='/js/attendance.js'></script>
</div>

{{!-- {{> modal}}
 --}}