<link rel='stylesheet' href='../css/handled-subjects.css' />

<div class='handled-subjects'>
  {{#each subjects}}
    <form action='select-subject?subjectId={{{subject_id}}}' method='POST'>
      <div class='card'>
        <table>
          <tr>
            <td id='subject-id'>{{{subject_id}}}</td>
            <td id='subject'>{{{subject_name}}}</td>
            <td style='text-align: left'>Enrolled Students:
              <span id='student-count'>{{{count}}}</span></td>
            <td>
              <input type='submit' value='Select Subject' />
            </td>
          </tr>
        </table>
      </div>
    </form>
  {{/each}}
</div>