.profile {
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  padding-right: 50px;
}

.highlight {
  font-weight: bold;
  font-size: 16px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.cell {
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(179, 181, 179);
}

.label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.info {
  font-weight: bold;
}

.student-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(224, 225, 224);
  padding: 10px;
}

#picture {
  border-radius: 50%;
  margin-bottom: 10px;
  border: green 3px solid;
}

.name {
  background-color: rgb(179, 181, 179);
  padding: 10px;
}

.subjects {
  margin-left: 80px;
  margin-top: 20px;
}

.subjects p {
  font-weight: bold;
  padding: 10px;
}
